* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

// header {
//     width: 100%;
//     padding: 20px 30px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #c4c4c4;

//     .left, .right {
//         display: flex;
//         align-items: center;
//         gap: 10px;

//         h1 {
//             font-size: 24px;
//         }
//         a {
//             text-decoration: none;
//             color: #000;
//             font-size: 18px;
//         }

//         .round {
//             width: 25px;
//             height: 25px;
//             border-radius: 100%;
//             background-color: gray;
//             &:last-child {
//                 width: 35px;
//                 height: 35px;
//             }
//             &:hover {
//                 background-color: red;
//             }
//         }
//     }
// }